<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <meta charset="UTF-8">
    <title>Smart Home</title>
</head>
<body style="height: 100vh;">
<div class="container">
{{ body|safe }}
    </div>
</body>
<script>
    var state="OFF";
    function send(btn) {
        if(state==='OFF')
        {
            state="ON";
            btn.innerText="OFF";
        }
        else
        {
            state="OFF";
             btn.innerText="ON";
        }

            $.post("index",{
                port: btn.id,
                msg: state,
                action: ""
            }, function(data, status){

            });
    }
</script>
<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>

<script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>

</html>

